<div class="container mt-4">
  <div class="justify-content-center">
    <div class = "title">
      <h1>CONNECT WITH PROFESSIONALS</h1>
    </div>
    <div class = "p-4">
      <%= form_with url: users_path, method: :get, class: "d-flex justify-content-center" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "button-input",
              placeholder: "Find a volunteer by their name, location or skill"
            %>
        <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
    <%# cards %>
    <div class="index-users-cards mt-4">
      <% @users.each do |user| %>
        <%= link_to user_path(user), class: "remove-hover" do %>
          <div class="index-user-card">
            <div class="index-user-infos">
              <div class="index-user-photo">
                <%= cl_image_tag user.photo.key, class: "avatar-bordered-index" %>
              </div>
              <div class="index-user-name">
                <h3><%= user.first_name %></h3>
              </div>
              <div class="user-badges">
                <%= image_tag("support", height: "22px") %>
              </div>
            </div>
            <div class="user-card-left-col">
              <div class="user-skills">
                <div class="skills-display">
                  <% if user.skills.first %>
                    <div class="skills-first">
                      <p><%= user.skills.first.name %></p>
                    </div>
                  <% end %>
                  <% if user.skills.second %>
                    <div class="skills-second">
                      <p><%= user.skills.second.name %></p>
                    </div>
                  <% end %>
                  <% if user.skills.third %>
                    <div class="skills-third">
                      <p><%= user.skills.third.name %></p>
                    </div>
                  <% end %>
                </div>
                <div class="index-user-photo">
                  <%# <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
                </div>
                <div class="index-user-location">
                  <h6><i class="fa-solid fa-location-dot mr-5">  </i><%= user.location %></h6>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
