<div class="container">
  <div class="justify-content-center">
    <div class = "title">
      <h1>Community Volunteers</h1>
    </div>
    <div class = "p-4">
      <%= form_with url: users_path, method: :get, class: "d-flex justify-content-center" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "button-input",
              placeholder: "Find a volunteer by their name, location or skill"
            %>
        <%= submit_tag "Search", class: "search-button" %>
      <% end %>
    </div>
    <div class="index-users-cards mt-4">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="index-user-card">
            <div class="user-card-left-col">
              <div class="user-skills">
                <h4>Skills</h4>
                <% user.skills.each do |skill| %>
                  <div class="user-skill">
                    <p><%= skill.name %></p>
                  </div>
                <% end %>
              </div>
              <div class="user-badges">
                <p>badge 1</p>
              </div>
            </div>
            <div class="index-user-infos">
              <div class="index-user-name">
                <h3><%= user.first_name %></h3>
              </div>
              <div class="index-user-photo">
                <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
              </div>
              <div class="index-user-location">
                <h5><%= user.location %></h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
