<div class="borders">
  <div class="user-show-banner">
    <h1><%= @user.first_name %>'s Profile</h1>
    <div class="user-show-avatar">
      <%= image_tag "profile_placeholder.png", class: "avatar-large"%>
    </div>
  </div>
  <div class="message-area">
   <%= link_to "Message", root_path, class: "message-btn" %>
  </div>
  <div class="user-show-content">
    <div class="user-skills">
      <h4>Skills</h4>
          <% @user.skills.each do |skill| %>
      <div class="user-skill">
            <%= skill.name %>
      </div>
          <% end %>
      </div>
    <div class="user-info">
      <div class="user-about">
        <h3>About</h3>
        <div class="user-about-content">
          <div>
            <a href=<%=  @user.linkedin_url %>>LinkedIn</a>
          </div>
            <h5><%= @user.location %></h5>
            <p><%= @user.bio %></p>
        </div>
      </div>
      <div class="user-projects">
        <h3>User Projects</h3>
        <div class="user-project-card">
            <% if @user.initiated_projects.empty? %>
            <h5> No projects innitiated </h5>
            <% else %>
              <h4><%= @user.first_name %>'s projects:</h4>
              <ul>
               <% @user.initiated_projects.each do |project| %>
              <li><%= link_to project.title, project_path(project) %></li>
              <% end %>
              </ul>
              <% end %>
        </div>
          <% if current_user == @user %>
          <%= link_to "Edit profile", edit_user_path(@user), class: "button" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
