
<div class="banner flex-container d-flex align-items-center">
 <div class="img-together">
  </div>
  <div class="text">
    <h1>My People </h1>
    <h1>My Community</h1>
    <p> Skill share for social change </p>
    <div class="image">
  </div>
</div>


<div class="container">
  <div>
    <h2> Our Current Projects <h2>
      <div>
          <% @projects.each do |project| %>
          <div class="card-trip">
              <%= image_tag  "#{project.photo}.jpg" %>
              <h3><%= link_to project.title, project_path(project) %></h3>
              <h5><i class="fa-solid fa-location-pin"></i> <%= project.location %></h5>
              <h4>Categories:</h4>
              <div>
                <% project.categories.each do |category| %>
                  <div>
                    <p><%= category.name %></p>
                  </div>
                <% end %>
              </div>
              <p>Start date: <strong><%= project.start_date.strftime("%e %B %Y") %></strong>  </p>
          </div>
            <% end %>

      </div>

  <h2> <%= link_to "Our Current Projects", projects_path %>  <h2>
</div>

<div class="container justify-content-center">
  <button class ="button" class="btn btn-outline-dark"><%= link_to 'Find a volunteer', users_path %></button>
</div>


  <% if false %>
    <% if current_user %>
      <%= cl_image_tag ("https://res.cloudinary.com/divqv7xyh/image/upload/v1668004240/development/akqm0uwl03mwkzav7clbp2r3e25f.jpg"), height: 300, width: 250, crop: :fill %>
    <% end %>
  <% end %>
