<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div>
            <h1 class = "p-4">Projects index page</h1>
          </div>
              <div class = "p-4">
                <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find a project by it's name, location or social category"
                  %>
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                <% end %>
              </div>

          <div>
            <% @projects.each do |project| %>
              <h3><%= link_to project.title, project_path(project) %></h3>
              <h5><%= project.location %></h5>
              <%# <p><%= project.description %></p>
              <p>Categories:</p>
              <ul>
                <% project.categories.each do |category| %>
                  <li><%= category.name %></li>
                <% end %>
              </ul>
              <p>Start date: <strong><%= project.start_date.strftime("%e %B %Y") %></strong> - End date: <strong><%= project.end_date.strftime("%e %B %Y") %></strong> </p>
            <% end %>
          </div>
    </div>
  </div>
</div>
