<div class="container">
  <div class="row justify-content-center">
    <div class="">
      <div class = "mt-4">
        <h1>Projects index page</h1>
      </div>
      <div class = "p-4">
        <%= form_with url: projects_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "button-input",
            placeholder: "    Find a project by it's name, location or social category"
          %>
          <%= submit_tag "Search", class: "search-button" %>
        <% end %>
      </div>
      <div>
          <% @projects.each do |project| %>
          <div class="card-trip">
              <%= image_tag  "#{@project.photo}.jpg" %>
              <h3><%= link_to project.title, project_path(project) %></h3>
              <h5><%= project.location %></h5>
              <p>Categories:</p>
              <div>
                <% project.categories.each do |category| %>
                  <div>
                    <p><%= category.name %></p>
                  </div>
                <% end %>
              </div>
              <p>Start date: <strong><%= project.start_date.strftime("%e %B %Y") %></strong>  </p>
          </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
