<div class="container">
  <div class="form-container">
    <div class="form" id='project-form'>
    <h2>Add Your Project</h2>
    <h5 class="text-center">Resource your team, find your next collaborator, and grow your network.</h5>
      <%= simple_form_for @project do |f| %>
        <%= f.input :title, required: false%>
        <%= f.input :description, :label => "Describe the aim of this Project and some of the needed skills" %>
        <%= f.association :skills, :label => "Which skills will your project need?", as: :check_boxes, wrapper: :vertical_collection_inline, input_html: { class: "skill-pill" } %>
        <%= f.input :location, required: false %>
        <%= f.association :categories, :label => "Which categories best describes your project", as: :check_boxes, wrapper: :vertical_collection_inline, input_html: { class: "form-label category-pill" } %>
        <%= f.input :start_date, required: false, as: :date, html5: true %>
        <%= f.input :end_date, required: false, as: :date, html5: true %>
        <%= f.input :photos, as: :file %>
        <div class="d-flex justify-content-center">
          <%= f.submit "Create Project", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
