<div class="container">
  <div class="form-container">
    <h2>Add Your Project</h2>
    <p class="text-center">Resource your team, find your next collaborator, and grow your network.</p>
    <div class="form" id='project-form'>
      <%= simple_form_for @project do |f| %>
        <%= f.input :title, required: false%>
        <%= f.input :description, :label => "Describe the aim of this Project and some of the needed skills" %>
        <%= f.association :skills, :label => "Which skills will your project need?", as: :check_boxes, wrapper: :vertical_collection_inline, input_html: { class: "skill-pill" } %>
        <%= f.input :location, required: false %>
        <%= f.association :categories, :label => "Which categories best describes your project", as: :check_boxes, wrapper: :vertical_collection_inline, input_html: { class: "form-label category-pill" } %>
        <%= f.input :start_date, required: false, as: :date, html5: true %>
        <%= f.input :end_date, required: false, as: :date, html5: true %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
