<div class="banner-page" id="banner">
  <div class="banner-heading">
    <h1><%= @project.title %></h1>
    <p class="text-center"><i class="fa-solid fa-location-dot mx-2"></i><%= @project.location %></p>
      <% if current_user.can_apply_to_project?(@project) %>
      <%= simple_form_for [@project, @project_member] do |f| %>
        <%= f.submit 'Apply', class: "button"%>
      <% end %>
    <% end %>
  </div>
</div>

<%# Carosel %>
<div class ="carosel-container">
  <div class="splide" role="group" aria-label="Splide Basic HTML Example" data-controller="slider">
    <div class="splide__track">
		  <ul class="splide__list">
        <% @project.photos.each do |photo| %>
          <li class="splide__slide"><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></li>
          <%end %>
		  </ul>
    </div>
  </div>
</div>
<%# Carosel %>

<%# begin tab %>
<% if current_user.member_or_owner_of_project?(@project) %>
  <% if @project.is_owner?(current_user) || current_user.accepted_member_of_project?(@project) %>
    <ul class="nav nav-pills mb-3 mt-4 justify-content-around" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= params[:show_posts].present? ? '': 'active' %> nav-red" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-details" type="button" role="tab" aria-controls="pills-details" aria-selected="true">Project Details:</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link nav-red  <%= params[:show_posts].present? ? 'active': '' %>" id="pills-posts-tab" data-bs-toggle="pill" data-bs-target="#pills-posts" type="button" role="tab" aria-controls="pills-posts" aria-selected="false">Project Posts:</button>
      </li>
    </ul>
  <% end %>
  <div class="tab-content" id="pills-tabContent">
      <%# project details %>
      <div class="tab-pane fade <%= params[:show_posts].present? ? '': 'show active' %>" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
        <div class="container">
          <div class="d-flex background">
            <div class="backround small">
              <h4>Categories</h4>
              <% @project.categories.each do |category| %>
                <p><%= category.name %></p>
              <% end %>
              <h4>Skills needed</h4>
              <% @project.skills.each do |skill| %>
                <p><%= skill.name %></p>
              <% end %>
            </div>
            <div class="background big">
             <h3><%= @project.title %>'s story</h3>
              <p><%= @project.description %></p>
              <h4>Project stats</h4>
              <p>This project was initiated by the legendary <%= @project.user.first_name %> from <%= @project.user.location %>. Learn more about her <%= link_to "here", user_path(@project.user) %>.</p>
              <p>The project has <%= pluralize(@project.project_members.count, "volunteer") %>.</p>
              <% @project.project_members.each do |member| %>
              <% if member.user.photo.attached? %>
              <%= cl_image_tag member.user.photo.key, class: "project-show-avatar" %>
              <% end %>
            <%= member.user.full_name %>
            <% end %>
            </div>
          </div>
        </div>
        <%# project details %>
      </div>
      <%# posts %>
      <div class="tab-pane fade <%= params[:show_posts].present? ? 'show active': '' %>" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">
        <div class="container">
          <div class="">
            <h1><%= @project.title %> NewsFeed</h1>
            <h2>New Posts:</h2>
            <%= simple_form_for [@project, @post] do |f| %>
              <%= f.input :content, :label => "Share an update with your team members" %>
              <%= f.button :submit, class: "button" %>
            <% end %>
          </div>
          <div class="project-posts">
            <% @posts.each do |post| %>
              <div class="notification">
                <%# replace image %>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                <div class="notification-content">
                  <p><strong><%= post.user.full_name %></strong></p>
                  <p><%= post.content %></p>
                </div>
              </div>
            <%end %>
          </div>
        </div>
        <%# posts %>
      </div>
      <%# end tab %>
    </div>
    <% else %>
    <div class="container">
      <h2 class="text-center">Learn more about <%= @project.title %></h2>
      <div class="d-flex background">
        <div class="backround small">
          <h4>Categories</h4>
          <% @project.categories.each do |category| %>
            <p><%= category.name %></p>
          <% end %>
          <h4>Skills needed</h4>
          <% @project.skills.each do |skill| %>
            <p><%= skill.name %></p>
          <% end %>
        </div>
        <div class="background big">
          <h3><%= @project.title %>'s story</h3>
          <p><%= @project.description %></p>
          <h4>Project stats</h4>
          <p>This project was initiated by the legendary <%= @project.user.first_name %> from <%= @project.user.location %>. Learn more about her <%= link_to "here", user_path(@project.user) %>.</p>
          <p>The project has <%= pluralize(@project.project_members.count, "volunteer") %>.</p>
          <% @project.project_members.each do |member| %>
            <% if member.user.photo.attached? %>
              <%= cl_image_tag member.user.photo.key, class: "project-show-avatar" %>
            <% end %>
            <%= member.user.full_name %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%# For Refactoring later:
def project_owner?(user)
    user == @project.user
  end

  def project_member?(user)
    user.projects.include?(@project)
  end %>
